<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author wlpiaoyi:WLPIAOYI-DELL-->
<!--@since 2024-10-11 18:08:10-->
<!--@desc 数据权限-->
<mapper namespace="org.wlpiaoyi.server.demo.sys.domain.mapper.AccessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="accessResultMap" type="org.wlpiaoyi.server.demo.sys.domain.entity.Access">
        <id column="id" property="id"/>
        <!-- value -->
        <result column="value" property="value"/>
        <!-- path -->
        <result column="path" property="path"/>
    </resultMap>

</mapper>