<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author wlpia:WLPIAOYI-PC-->
<!--@since 2024-10-10 23:05:43-->
<!--@desc 用户表-->
<mapper namespace="org.wlpiaoyi.server.demo.sys.domain.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="org.wlpiaoyi.server.demo.sys.domain.entity.User">
        <id column="id" property="id"/>
        <!-- 创建时间 -->
        <result column="gmt_create" property="gmtCreate"/>
        <!-- 修改时间 -->
        <result column="gmt_modified" property="gmtModified"/>
        <!-- 状态(1:正常，0:禁用) -->
        <result column="status_id" property="statusId"/>
        <!-- 排序 -->
        <result column="sort" property="sort"/>
        <!-- 手机 -->
        <result column="mobile" property="mobile"/>
        <!-- 密码盐 -->
        <result column="mobile_salt" property="mobileSalt"/>
        <!-- 登录密码 -->
        <result column="mobile_psw" property="mobilePsw"/>
        <!-- 真实姓名 -->
        <result column="real_name" property="realName"/>
        <!-- 备注 -->
        <result column="remark" property="remark"/>
        <!-- 用户ID -->
        <result column="user_id" property="userId"/>
        <!-- 部门ID -->
        <result column="dept_id" property="deptId"/>
        <!-- 登录账号 -->
        <result column="login_name" property="loginName"/>
        <!-- 用户昵称 -->
        <result column="user_name" property="userName"/>
        <!-- 用户类型（00系统用户 01注册用户） -->
        <result column="user_type" property="userType"/>
        <!-- 用户邮箱 -->
        <result column="email" property="email"/>
        <!-- 手机号码 -->
        <result column="phonenumber" property="phonenumber"/>
        <!-- 用户性别（0男 1女 2未知） -->
        <result column="sex" property="sex"/>
        <!-- 头像路径 -->
        <result column="avatar" property="avatar"/>
        <!-- 密码 -->
        <result column="password" property="password"/>
        <!-- 盐加密 -->
        <result column="salt" property="salt"/>
        <!-- 帐号状态（0正常 1停用） -->
        <result column="status" property="status"/>
        <!-- 删除标志（0代表存在 2代表删除） -->
        <result column="del_flag" property="delFlag"/>
        <!-- 最后登录IP -->
        <result column="login_ip" property="loginIp"/>
        <!-- 最后登录时间 -->
        <result column="login_date" property="loginDate"/>
        <!-- 密码最后更新时间 -->
        <result column="pwd_update_date" property="pwdUpdateDate"/>
        <!-- 创建者 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 更新者 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
        <!-- account -->
        <result column="account" property="account"/>
        <!-- 是否删除 -->
        <result column="is_deleted" property="isDeleted"/>
        <!-- 创建人 -->
        <result column="create_user" property="createUser"/>
        <!-- 创建部门 -->
        <result column="create_dept" property="createDept"/>
        <!-- 修改人 -->
        <result column="update_user" property="updateUser"/>
    </resultMap>

</mapper>