<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author wlpiaoyi:WLPIAOYI-DELL-->
<!--@since 2024-10-11 18:08:10-->
<!--@desc 部门-->
<mapper namespace="org.wlpiaoyi.server.demo.sys.domain.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="deptResultMap" type="org.wlpiaoyi.server.demo.sys.domain.entity.Dept">
        <id column="id" property="id"/>
        <!-- 上级部门Id -->
        <result column="parent_id" property="parentId"/>
        <!-- 部门名称 -->
        <result column="name" property="name"/>
        <!-- 部门编码 -->
        <result column="code" property="code"/>
        <!-- 状态 -->
        <result column="status" property="status"/>
        <!-- 是否删除 -->
        <result column="is_deleted" property="isDeleted"/>
        <!-- 创建人 -->
        <result column="create_user" property="createUser"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 修改人 -->
        <result column="update_user" property="updateUser"/>
        <!-- 修改时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
